TrackingService/TrackingClient/node_modules/
TrackingService/TrackingClient/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TrackingService/TrackingClient/obj/
TrackingService/TrackingClient/app/bower_components/
TrackingService/TrackingService/obj/
TrackingService/TrackingService/bin/
TrackingService/packages/
TrackingService/TrackingClient/bin/
