<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="applicationId" value="u4XKvtb4gCU0P7smzWI09ORk2Ytg933Elt4kxa6J" />
    <add key="dotNetKey" value="duxZRq63msUAsSzig67vSuIWTthso6AS8rk2dRMI" />
  </appSettings>
</configuration>
